<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="UserDB" connectionString="URL=http://localhost:8080/;Database=Users"/>
    <add name="DocumentDB" connectionString="URL=http://localhost:8080/;Database=Documents"/>
    <add name="KYCDB" connectionString="URL=http://localhost:8080/;Database=KYCDetails"/>
  </connectionStrings>
</configuration>